section[role=main] {
  
  @include basic-typography;
  
  @include lined-tables;
  
  input { font-size: 100%; }
  
  a.button, button {
    @include button($color: $button-text-color, $bg-color: $button-color);
    
    &.large { @include adjust-button-size($font-size: 1.3em, $padding-x: 1.5em, $padding-y: 0.75em); }
    
    &.arrow {
      @include append-button-character("»");
    }
  }
  
  ul.features {
    font-size: 110%;
    list-style-image: image-url('double-arrow-bullet.png');
    li { margin: 0.5em 0; }
  }
  
  div.get-started {
    margin-top: 2em;
  }
  
  .box {
    background: adjust-color(mix(blue, green), $lightness: 65) image-url('noise.png');
    padding: 0.1em 1em;
    margin: 2em 0;
    @include border-radius(10px);
    &.twitter { font-size: 130%; text-align: center; }
  }
  
}

section[role=main], body > footer {
  a {
    color: $link-color;
    
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; text-decoration: none; }
  }
}