<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
  </head>
  <body>
  <%= yield %>
  </body>
</html>