<ul>
  <li><a href="/documentation/create">Create</a> &#8211; Create a structured Serve project</li>
  <li><a href="/documentation/export">Export</a> &#8211; Export a Serve project to regular HTML and CSS</li>
  <li><a href="/documentation/convert">Convert</a> &#8211; Convert an existing Compass project to a Serve project</li>
</ul>