<ul>
  <li><a href="/get-started#installation">Installation</a></li>
  <li>
    <a href="/documentation/usage">Command Line Usage</a>
    <ul>
      <li><a href="/documentation/usage">Serving Files</a></li>
      <li><a href="/documentation/create">Creating a New Serve Project</a></li>
      <li><a href="/documentation/export">Exporting a Serve Project</a></li>
      <li><a href="/documentation/convert">Converting a Compass Project to a Serve Project</a></li>
    </ul>
  </li>
  <li><a href="/documentation/layouts">Layouts</a></li>
  <li><a href="/documentation/partials">Partials</a></li>
  <li><a href="/documentation/view-helpers">View Helpers</a></li>
  <li><a href="/documentation/template-engines-and-file-types">Template Engines and File Types</a></li>
  <li><a href="/documentation/rails-prototyping-tutorial">Prototyping Rails Applications with Serve</a></li>
  <li><a href="/contributing">Contributing to Serve</a></li>
</ul>