<% @title = "Using Coffee Script with Serve" %>

<ol>
  <li>
    <p>Add the <a href="https://github.com/mattly/rack-coffee">"rack-coffee"</a>
      gem to your Gemfile</p>
  </li>
  <li>
    <p>Add these lines to your config.ru file:</p>
    <pre>require 'rack/coffee' 
use Rack::Coffee, { 
  :urls => '/javascripts/', 
  :output_path => '/public/javascripts' 
}</pre>
  </li>
  <li>
    <p>Run <kbd>bundle</kbd> in your project folder.</p>
  </li>
</ol>

<p>Now you can put your .coffee files in /javascripts and link to 
them as usual (replacing .coffee with .js). For example, the URL for
<kbd>/javascripts/test.coffee</kbd> is <kbd>/javascripts/test.js</kbd>.</p>

