<% @title ="Converting a Compass Project to a Serve Project" %>

<p>If you are a Compass user you can convert an existing Compass project to a
Serve project with the "convert" sub-command:</p>

<pre>serve convert mockups</pre>

<p>This will rename and move a number of files for you and will turn your
Compass project into a Serve project.</p>

<p>The convert command respects the same flags as the
  <a href="/documentation/create">create command</a>.</p>

<p>Note: After upgrading a Compass project, you will no longer need to use
the <kbd>compass watch</kbd> command to generate your stylesheets. Your stylesheets
will be compiled on the fly with Serve.</p>