<% @title = "Exporting a Serve Project" %>

<p>The edge version of Serve now has limited support for exporting your Serve
project to HTML. To get started with the prerelease version:</p>

<pre>gem install --pre serve</pre>

<p>To export your project, use the new "export" command:</p>

<pre>serve export project output</pre>

<p>Where "project" is the path to the project and "output"
is the path to the directory where you would like your HTML and CSS
generated.</p>

<p>Please note! This feature is in beta. If you have issues with this
approach, please post them to the GitHub issue tracker.</p>