<% @title = "Exporting a Serve Project" %>

<p>To export your project, use the new "export" command:</p>

<pre>serve export project output</pre>

<p>Where "project" is the path to the project and "output"
is the path to the directory where you would like your HTML and CSS
generated.</p>

<p>Please note! This feature is quite new. If you have problems
exporting, please post about them on the
<a href="http://github.com/jlong/serve/issues">GitHub issue tracker</a>.</p>