<% @title = "Using ReactJS with Serve" %>

<ol>
  <li>
    <p>Add <kbd>gem 'react-jsx', require: 'react/jsx'</kbd> to your Gemfile</p>
  </li>
  <li>
    <p>Run <kbd>bundle</kbd> in your project folder.</p>
  </li>
</ol>

<p>Now you can put your .jsx files in <kbd>/javascripts</kbd> and link to
them as usual (replacing .jsx with .js). For example, the URL for
<kbd>/javascripts/test.jsx</kbd> is <kbd>/javascripts/test.js</kbd>.</p>

