<h3>Template Engines &amp; File Types</h3>
<p>Serve does special processing for files with following extensions:</p>

<table>
  <tbody>
    <tr>
      <td>textile:</td>
      <td>Evaluates the document as Textile (requires the Redcloth gem)</td>
    </tr>
    <tr>
      <td>markdown:</td>
      <td>Evaluates the document as Markdown (requires the Bluecloth gem)</td>
    </tr>
    <tr>
      <td>erb:</td>
      <td>Evaluates the document as ERB</td>
    </tr>
    <tr>
      <td>haml:</td>
      <td>Evaluates the document as Haml (requires the Haml gem)</td>
    </tr>
    <tr>
      <td>slim:</td>
      <td>Evaluates the document using the Slim template language (requires the Slim gem)</td>
    </tr>
    <tr>
      <td>sass:</td>
      <td>Evaluates the document as Sass (requires the Sass gem)</td>
    </tr>
    <tr>
      <td>scss:</td>
      <td>Evaluates the document as SCSS (requires the Sass gem)</td>
    </tr>
    <tr>
      <td>less:</td>
      <td>Evaluates the document as Less (requires the less gem)</td>
    </tr>
    <tr>
      <td>email:</td>
      <td>Evaluates the document as if it is an e-mail message; the format is
        identical to a plain/text e-mail message’s source</td>
    </tr>
    <tr>
      <td>redirect:</td>
      <td>Redirects to the URL contained on the last line of the file</td>
    </tr>
  </tbody>
</table>