<% @title = "You created a structured Serve project!" %>

<dl>
  <dt><strong>Views &amp; Layouts</strong></dt>
  <dd>
    Your views are stored in the <kbd>views</kbd> folder. Coming from a page-based
    scripting language like PHP? Views are just like regular pages. The main layout
    file for this project is stored in <kbd>layouts/default</kbd>.
  </dd>
  
  <dt><strong>Stylesheets, Sass &amp; Compass</strong></dt>
  <dd>
    This project is pre-configured for <a href="http://sass-lang.com">Sass</a> and
    <a href="http://compass-style.org">Compass</a>. Store your <kbd>sass</kbd> and
    <kbd>scss</kbd> files in the root <kbd>stylesheets</kbd> folder. Sass
    stylesheets will be automatically compiled to CSS and stored in
    <kbd>public/stylesheets</kbd>.
  </dd>
  
  <dt><strong>Static Assets</strong></dt>
  <dd>
    Static assets like images, javascripts, and downloads are stored in the
    <kbd>public</kbd> folder. Put files here that don&#8217;t need special
    processing by Serve.
  </dd>
</dl>

<div class="box">
  <h6>Other Template Languages</h6>
  <p>
    If you are interested in using Serve with other template languages like Haml,
    Slim, Markdown, or Textile, remember to edit the project <kbd>Gemfile</kbd>
    to include the appropriate gems. Then use
    <a href="http://gembundler.com/">Bundler</a> to install them.
  </p>
</div>
