@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  color: #333333;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  font-size: 105%;
  line-height: 1.4;
}

body, html {
  background-image: url('../images/noise.png?1310008081'), -webkit-gradient(linear, 50% 0%, 50% 1000, color-stop(16.1%, #ffffff), color-stop(16.1%, #dfd6cf), color-stop(36%, #ffffff), color-stop(100%, #ffffff));
  background-image: url('../images/noise.png?1310008081'), -webkit-linear-gradient(center top, #ffffff 161px, #dfd6cf 161px, #ffffff 360px, #ffffff 1000px);
  background-image: url('../images/noise.png?1310008081'), -moz-linear-gradient(center top, #ffffff 161px, #dfd6cf 161px, #ffffff 360px, #ffffff 1000px);
  background-image: url('../images/noise.png?1310008081'), -o-linear-gradient(center top, #ffffff 161px, #dfd6cf 161px, #ffffff 360px, #ffffff 1000px);
  background-image: url('../images/noise.png?1310008081'), -ms-linear-gradient(center top, #ffffff 161px, #dfd6cf 161px, #ffffff 360px, #ffffff 1000px);
  background-image: url('../images/noise.png?1310008081'), linear-gradient(center top, #ffffff 161px, #dfd6cf 161px, #ffffff 360px, #ffffff 1000px);
}

header[role=banner] {
  text-align: center;
}
header[role=banner] hgroup {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  display: block;
}

a[role=logo] {
  display: block;
  position: absolute;
  top: 30px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo.png?1310008081');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 322px;
  height: 106px;
}

nav[role=navigation] {
  background: #973b12;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.35))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c300f), color-stop(50%, #973b12), color-stop(100%, #65270c));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.35) 100%), -webkit-linear-gradient(#7c300f, #973b12, #65270c);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.35) 100%), -moz-linear-gradient(#7c300f, #973b12, #65270c);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -o-linear-gradient(left, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.35) 100%), -o-linear-gradient(#7c300f, #973b12, #65270c);
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -ms-linear-gradient(left, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.35) 100%), -ms-linear-gradient(#7c300f, #973b12, #65270c);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), linear-gradient(left, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.35) 100%), linear-gradient(#7c300f, #973b12, #65270c);
  text-align: center;
}
nav[role=navigation] ul {
  width: 940px;
  margin: 0 auto;
  line-height: 160px;
  height: 160px;
  text-align: right;
}
nav[role=navigation] li {
  display: inline;
}
nav[role=navigation] a {
  font-size: 18px;
  color: #d5b0a0;
  text-decoration: none;
  padding: 1em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}
nav[role=navigation] a:hover {
  color: #ead7cf;
  text-decoration: underline;
}
nav[role=navigation] li.here a {
  color: #ead7cf;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.75) 0 2px 0;
}
nav[role=navigation] li.highlight a {
  color: #d59225;
}

nav[role=breadcrumbs] {
  margin: 1em 0 -1.5em;
  color: #888888;
}
nav[role=breadcrumbs] a {
  color: #333333 !important;
  text-decoration: none;
}
nav[role=breadcrumbs] a:after {
  color: #bb3a08;
  content: " ⇢ ";
}

section[role=main] {
  width: 940px;
  margin: 0 auto;
}

section.three-column-grid {
  clear: both;
  margin: 1em -10px;
  overflow: hidden;
  *zoom: 1;
}
section.three-column-grid > section {
  float: left;
  padding: 0 10px;
  width: 300px;
}
section.three-column-grid > section:nth-child(3n+4) {
  clear: both;
}
section.three-column-grid.features {
  font-size: 85%;
}

body[role=homepage] h1 {
  margin-top: 0.25em !important;
  padding: 0;
}

div.featured-video {
  margin-bottom: 4em;
}
div.featured-video object, div.featured-video img {
  float: right;
  margin: -2em 0 2em 10px;
}
div.featured-video img {
  border: 8px solid rgba(0, 0, 0, 0.1);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

body > footer {
  background: rgba(115, 38, 38, 0.1);
  border-top: 3px double #dad3c8;
  font-size: 85%;
  margin: 2em 0 0;
  padding: 1em;
}
body > footer small {
  display: block;
  width: 940px;
  margin: 0 auto;
}
body > footer p {
  margin: 1em 0;
}
body > footer em {
  font-style: italic;
}

section[role=main] strong {
  font-weight: bold;
  color: black;
}
section[role=main] em {
  font-style: italic;
}
section[role=main] h1, section[role=main] h2, section[role=main] h3, section[role=main] h4, section[role=main] h4, section[role=main] h6 {
  font-weight: normal;
  color: black;
}
section[role=main] h1 {
  font-size: 200%;
  font-weight: bold;
  margin: 1em 0;
  line-height: 1.12;
}
section[role=main] h2 {
  font-size: 170%;
  font-style: italic;
  margin: 1em 0;
}
section[role=main] h3 {
  font-weight: bold;
  font-size: 140%;
  margin: 1.25em 0 0.5em;
}
section[role=main] h4 {
  font-weight: bold;
  font-size: 130%;
  margin: 0.5em 0 -0.5em;
}
section[role=main] p, section[role=main] ul, section[role=main] ol, section[role=main] dl, section[role=main] table {
  margin: 1em 0;
}
section[role=main] ul, section[role=main] ol {
  padding-left: 2.25em;
}
section[role=main] ul ul, section[role=main] ul ol, section[role=main] ol ul, section[role=main] ol ol {
  margin: 0;
}
section[role=main] ul {
  list-style: disc;
}
section[role=main] ol {
  list-style: decimal;
}
section[role=main] dt {
  margin-top: 1em;
}
section[role=main] dd {
  margin-top: 0.25em;
  margin-left: 1em;
}
section[role=main] pre {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 90%;
  color: #cccccc;
  background: #333333 url('../images/noise.png?1310008081');
  padding: 1em;
  margin: 1.5em 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
section[role=main] code, section[role=main] dfn, section[role=main] kbd, section[role=main] samp, section[role=main] tt {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 90%;
  background: #e5e5e5 url('../images/noise.png?1310008081');
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
section[role=main] table {
  margin: 1.5em 0;
}
section[role=main] table td, section[role=main] table th {
  padding: 0.5em;
  vertical-align: baseline;
}
section[role=main] table th {
  border-bottom: 3px solid #dddddd;
}
section[role=main] table td {
  border-bottom: 1px solid #dddddd;
}
section[role=main] table tr:first-child td {
  border-top: 1px solid #dddddd;
}
section[role=main] table tr td:first-child {
  padding-left: 0;
}
section[role=main] table tr td:last-child {
  padding-right: 0;
}
section[role=main] input {
  font-size: 100%;
}
section[role=main] a.button, section[role=main] button {
  color: #e2eada;
  border: 1px solid #2e5507;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0 0.667em;
  line-height: 2em;
  background-color: #40760a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d8e0c), color-stop(100%, #2e5507));
  background-image: -webkit-linear-gradient(#4d8e0c, #2e5507);
  background-image: -moz-linear-gradient(#4d8e0c, #2e5507);
  background-image: -o-linear-gradient(#4d8e0c, #2e5507);
  background-image: -ms-linear-gradient(#4d8e0c, #2e5507);
  background-image: linear-gradient(#4d8e0c, #2e5507);
  -moz-background-clip: border;
  -webkit-background-clip: border;
  -o-background-clip: border-box;
  -ms-background-clip: border-box;
  -khtml-background-clip: border-box;
  background-clip: border-box;
  -moz-border-radius: 0.333em;
  -webkit-border-radius: 0.333em;
  -o-border-radius: 0.333em;
  -ms-border-radius: 0.333em;
  -khtml-border-radius: 0.333em;
  border-radius: 0.333em;
  -moz-box-shadow: #66c20a 0 1px 0 inset;
  -webkit-box-shadow: #66c20a 0 1px 0 inset;
  -o-box-shadow: #66c20a 0 1px 0 inset;
  box-shadow: #66c20a 0 1px 0 inset;
  text-shadow: black 0 1px 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
section[role=main] a.button, section[role=main] button {
  *display: inline;
}
section[role=main] a.button:visited, section[role=main] button:visited {
  color: #e2eada;
}
section[role=main] a.button:hover, section[role=main] button:hover {
  color: white;
  border-color: #4d8e0c;
  background-color: #4d9208;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80bf40), color-stop(100%, #40730d));
  background-image: -webkit-linear-gradient(#80bf40, #40730d);
  background-image: -moz-linear-gradient(#80bf40, #40730d);
  background-image: -o-linear-gradient(#80bf40, #40730d);
  background-image: -ms-linear-gradient(#80bf40, #40730d);
  background-image: linear-gradient(#80bf40, #40730d);
  -moz-box-shadow: #c0e29d 0 1px 0 inset;
  -webkit-box-shadow: #c0e29d 0 1px 0 inset;
  -o-box-shadow: #c0e29d 0 1px 0 inset;
  box-shadow: #c0e29d 0 1px 0 inset;
}
section[role=main] a.button:active, section[role=main] button:active {
  background: #335f08;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
section[role=main] a.button.large, section[role=main] button.large {
  font-size: 1.3em;
  padding: 0 1.5em;
  line-height: 2.8em;
}
section[role=main] a.button.arrow:after, section[role=main] button.arrow:after {
  content: " »";
  font-family: Georgia, Palatino, "Times New Roman", serif;
  font-size: 160%;
  line-height: 1;
  font-weight: normal;
  position: relative;
  top: 0.05em;
}
section[role=main] ul.features {
  font-size: 110%;
  list-style-image: url('../images/double-arrow-bullet.png?1310008081');
}
section[role=main] ul.features li {
  margin: 0.5em 0;
}
section[role=main] div.get-started {
  margin-top: 2em;
}
section[role=main] .box {
  background: #cce5ff url('../images/noise.png?1310008081');
  padding: 0.1em 1em;
  margin: 2em 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
section[role=main] .box.twitter {
  font-size: 130%;
  text-align: center;
}

section[role=main] a, body > footer a {
  color: #bb3a08;
}
section[role=main] a:visited, body > footer a:visited {
  color: #aa7722;
}
section[role=main] a:hover, body > footer a:hover {
  color: #f66933;
  text-decoration: none;
}
