<% @title = "Params Tests" %>

<p>Add some params to the URL to see them here:</p>
<pre><%= params.inspect %></pre>

<p>The boolean parameter <code>test</code> is <code><%= boolean_param(:test) %></code></p>