<% @title = "Wanna help?" %>

<p>All development for Serve takes place on <a href="https://github.com/jlong/serve">GitHub</a>.
  If you are interested in helping out, there are a couple of areas where you can contribute:</p>

<dl>
  <dt><strong>Bug Reports</strong></dt>
  <dd>If you run across a bug while using Serve post it to the
    <a href="https://github.com/jlong/serve/issues">Github issue tracker</a>.
    We are passionate about fixing bugs and will try to respond in a timely
    manner. You can also post about your problem on the
    <a href="/mailing-list">mailing list</a>.</dd>
  
  <dt><strong>Code Contributions</strong></dt>
  <dd>Code contributions are welcome! We have a fairly liberal policy about
    code contributions. In general if you are fixing a bug or developing
    a feature to meet a common need your code will be approved. Fork the project
    and submit a pull request when you are ready for it to be merged. Tests
    are not required for most things, but helpful. Please note that all
    pull requests are considered to be freely given and will be licensed under
    the same license as Serve.</dd>
  
  <dt><strong>Documentation</strong></dt>
  <dd>Documentation updates and fixes are also welcome. If you discover a typo
    on the website or in the docs, file an issue on the issue tracker, or update
    documentation yourself by forking the project and submitting a pull request.
    Documentation is stored in the
    <a href="https://github.com/jlong/serve/tree/master/website/views/documentation">website/views/documentation</a>
    directory.</dd>
  
  <dt><strong>Web Site Improvements</strong></dt>
  <dd>Improvements to the Serve website are also welcome. Again, just fork the
    project and submit a pull request. The website is stored in the
    <a href="https://github.com/jlong/serve/tree/master/website">website</a>
    directory and is a simple Serve project.</dd>
  
</dl>

<p>Need help with forking the project or submitting a pull request? Check out
  these helpful articles:</p>

<ul>
  <li><a href="http://help.github.com/fork-a-repo/">Forking a Project on GitHub</a></li>
  <li><a href="http://help.github.com/send-pull-requests/">Sending a Pull Request</a></li>
</ul>