<% @title = "Getting started" %>

<p>Getting started with Serve is easy. Because Serve is built with Ruby, you
will need to have Ruby installed on your system. Mac OSX ships with Ruby. If
you are on Windows you can install Ruby with
<a href="http://rubyinstaller.org/">this easy installation package</a>.</p>

<p>Once Ruby is installed, open up the <a href="http://wiseheartdesign.com/articles/2010/11/12/the-designers-guide-to-the-osx-command-prompt/">command prompt</a>, and type:</p>

<pre>gem install serve</pre>


<h3>Using the serve command</h3>

<p>Serve ships with an easy to use command that makes it easy to turn any directory into into a browseable set of web pages.</p>

<p>To use it, simply change to the project directory, and type <kbd>serve</kbd>:</p>

<pre>~$ cd my-project
~/my-project$ serve</pre>

<p>This will start Serve up on your local box on port 4000. To view files with
Serve, navigate to <a href="http://localhost:4000">http://localhost:4000</a>
in your web browser.</p>

<p>As you navigate around in your browser, Serve will print out a log of
it&#8217;s activity on the command prompt. When you are ready to stop Serve type:
<kbd>Ctrl+C</kbd>, or close the command prompt window.</p>


<h3>Creating a new project</h3>

<p>For simple projects, you don&#8217;t need to structure your files in a
specific way. All ERB, Haml, and Sass files will be processed wherever they
are found in the project root. But for more complex projects you may want to
create a structured Serve project.</p>

<p>Create a structured Serve project when you want to deploy it on a
Rack-friendly web host or if you just want to organize your project a little
better.</p>

<p>To create a structured Serve project, you will need to use the create command. The format for the command is simple:</p>

<pre>serve create [project]</pre>

<p>Where <code>[project]</code> is the name of the directory where you
would like to create the new project.</p>

<p>To create a project in the &#8220;mockups&#8221; directory, you would type:</p>

<pre>serve create mockups</pre>

<h3>Learning More</h3>

<p>That&#8217;s a quick overview of how to get started, but if you are ready
to learn more, it&#8217;s time to <a href="/documentation">dive into the
documentation</a>.</p>