<% @title = "Serve" %>
<% @selected = "home" %>

<p>Build websites with your favorite template languages.</p>

<ul>
  <li>ERB, Haml, Markdown, Textile, and more!</li>
  <li>Views, partials &amp; layouts</li>
  <li>Perfect for Websites or HTML mockups</li>
</ul>