<% @title = "Mailing List" %>

<h3>Subscribe</h3>

<p>The <a href="http://groups.google.com/group/serve-users">Serve Users List</a>
  is a great place to learn about how to get the most out of Serve. The
  mailing list is hosted by Google Groups. To subscribe, you can send an email to
  <a href="mailto:serve-users+subscribe@googlegroups.com">serve-users+subscribe@googlegroups.com</a>.
  Or, fill in the following form:</p>

<form action="http://groups.google.com/group/serve-users/boxsubscribe">
  <p>
    Email: <input type="text" name="email">
    <button type=submit name="sub" value="Subscribe">Subscribe</button>
  </p>
</form>


<section>
<h3>Archives</h3>

<p>If you have questions about Serve, you may also want to search the <a href="http://groups.google.com/group/serve-users">mailing list archives</a>:</p>

<form method="get" action="http://groups.google.com/group/serve-users/search">
  <p>
    <input type="text" name="q" maxlength="255" size="30" />
    <button type="submit" value="Google Search">Google Search</button>
    <input type="hidden" name="group" value="radiant" />
    <input type="hidden" name="qt_q" value="Search+this+group" />
  </p>
</form>
</section>

<h3>Preferences / Unsubscribe</h3>

<p>If you have a Google account, you can unsubscribe or edit your mailing list
  preferences by clicking the Preferences button below. If you do not have a
  Google account, you can unsubscribe from the list by sending an email to
  <a href="mailto:serve-users+unsubscribe@googlegroups.com">serve-users+unsubscribe@googlegroups.com</a>.</p>

<p><button name="preferences-button" onclick="location.href='http://groups.google.com/group/serve-users/subscribe'">Preferences</button></p>
