//
// Application Stylesheet
//

@import "compass";

@include global-reset;

body {
  font-size: 90%;
  padding: 20px;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 260%;
  font-weight: bold;
}